$headerBg:conic-gradient(from 169.32deg at 107.61% 54.63%, rgba(254, 170, 228, 0) 0deg, #FDA9E7 18.03deg, rgba(254, 170, 229, 0) 104.03deg, rgba(254, 170, 228, 0) 360deg), radial-gradient(38.17% 86.77% at 10.46% 79.54%, #FFEEC3 0%, rgba(255, 238, 195, 0) 100%), radial-gradient(61.14% 73.94% at 44.57% -39.19%, #9ED2FF 0%, rgba(158, 210, 255, 0) 100%), #FFFFFF;
$textMain:#000000;
$textFill:#797979;
$btnBgc:#F8DCF2;
$scrollColor:linear-gradient(90deg, #9ED2FF 0%, #FDA9E7 101.17%);
$mainBg:#FCDFF6;
$standardBg:#ffffff;
$boxShadow:rgba(0, 0, 0, 0.03), 0px 51.1542px 51.419px rgba(0, 0, 0, 0.0182814), 0px 31.2614px 32.7222px rgba(0, 0, 0, 0.0145485), 0px 19.7px 20.341px rgba(0, 0, 0, 0.0131802), 0px 12.1574px 11.8781px rgba(0, 0, 0, 0.012699), 0px 6.89112px 6.09643px rgba(0, 0, 0, 0.0121579), 0px 3.01109px 2.28593px rgba(0, 0, 0, 0.0102347);
$inputHeaderBoxSh:rgba(0, 0, 0, 0.1);
$scrollIndicator: linear-gradient(135deg, #FFE1CA 0%, #FFAEE6 100%);
