@import './colors';
@import './fonts';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	width: 100%;
	height: 100%;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: $mainBg;
}
.form {
	max-height: 840px;
	width: 100%;
	min-width: 272px;
	max-width: 428px;
	box-shadow: 0px 100px 80px $boxShadow;
	border-radius: 32px;
	overflow: hidden;
	&__header {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		min-height: 256px;
		max-height: 259px;
		background: $headerBg;
	}
	&__avatar {
		margin: 16px 0;
		height: 72px;
		width: 72px;
		border-radius: 24px;
		background: $standardBg;
	}
	&__nav {
		position: absolute;
		bottom: 0;
	}
	&__nav-list {
		display: flex;
	}
	&__nav-item {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 35px;
		padding-left: 16px;
		padding-right: 16px;
		font-family: $interFont;
		font-weight: 500;
		font-size: 14px;
		color: $textFill;
		border-top-left-radius: 9px;
		border-top-right-radius: 9px;
		position: relative;
		margin: 0 6px;
		list-style: none;
		cursor: pointer;

		&--active {
			color: $textMain;
			background-color: $standardBg;
		}
	}
	&__nav-item--active::before,
	&__nav-item--active::after {
		content: '';
		background-size: cover;
		display: block;
		position: absolute;
		bottom: 0;
		width: 9px;
		height: 9px;
	}
	&__nav-item--active::before {
		background-image: url('/img/left.svg');
		left: -9px;
	}
	&__nav-item--active::after {
		background-image: url('/img/right.svg');
		right: -9px;
	}
	&__main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 32px 18px 32px 18px;
		min-height: 492px;
		max-height: 581px;
		background-color: $standardBg;
	}
	&__range-description {
		display: flex;
		justify-content: space-between;
	}
	&__input {
		font-size: 14px;
		font-weight: 400;
		color: $textFill;
		border: none;
		&--head {
			min-height: 32px;
			width: 100%;
			min-width: 210px;
			max-width: 256px;
			font-family: $robotoFont;
			text-align: center;
			border-radius: 16px;
			box-shadow: 0px 10px 20px $inputHeaderBoxSh;
		}
		&--main {
			margin: 4px 0;
			font-family: $interFont;
			font-weight: 400;
		}
	}
	&__label-container {
		display: flex;
		flex-direction: column;
	}
	&__label-header {
		font-family: $robotoFont;
		font-size: 14px;
		font-weight: 500;
		color: $textMain;
	}
	&__paragraph {
		font-family: $robotoFont;
		font-size: 14px;
		font-weight: 400;
	}
	&__range[type='range'] {
		-webkit-appearance: none;
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background-image: $scrollColor;
	}
	&__range[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none;
		height: 20px;
		width: 20px;
		border-radius: 50%;
		background: $scrollIndicator;
	}
	&__btn {
		align-self: center;
		padding: 8px 16px;
		height: 42px;
		width: 99px;
		font-family: $robotoFont;
		font-size: 14px;
		font-weight: 500;
		background: $btnBgc;
		border: none;
		border-radius: 12px;
	}
}

@media (min-width: 445px) {
	.form {
		&__nav-item {
			font-family: $robotoFont;
			font-size: 16px;
		}
		&__main {
			padding: 32px 64px 32px 64px;
		}
		&__input {
			font-size: 16px;
			&--main {
				font-family: $robotoFont;
				font-weight: 400;
			}
		}
		&__label-header {
			font-size: 16px;
		}
		&__paragraph {
			font-size: 16px;
		}
	}
}
